@import "tailwindcss";

button.selected{
    @apply bg-blue-500 text-white;
}

button:hover:not(:disabled){
    @apply bg-blue-300;
    cursor: pointer;
}

button:disabled{
    @apply bg-gray-300 text-gray-600 cursor-not-allowed;
}